<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link type="text/css" rel="stylesheet" href="/static/styles/styles.css">

		<title>ABSCH - Inicio</title>
	</head>

	<body>

		<div class="main-container">
			<nav id="navbar">

				<a href="/" class="navbar-container" id="app-logo-a">
					<img src="/static/images/logo.png" id=app-logo>
				</a>

				<a href="/" class="navbar-container">
					<img src="/static/images/home.png" class="navbar-icon">
					<span>Inicio</span>
				</a>

				<a href="/tramites/" class="navbar-container">
					<img src="/static/images/procedures.png" class="navbar-icon">
					<span>Tramites</span>
				</a>

				<a href="/noticias/" class="navbar-container">
					<img src="/static/images/news.png" class="navbar-icon">
					<span>Noticias</span>
				</a>

				<a href="/contacto/" class="navbar-container">
					<img src="/static/images/contact.png" class="navbar-icon">
					<span>Contacto</span>
				</a>
			</nav>

			<main id="main">
				<header>
					<h1 id="page-title">
						<span class="title-decorator"></span>
						Pagina de inicio
						<span class="title-decorator"></span>
					</h1>
				</header>
			</main>
		</div>
		
		<script src="/static/scripts/script.js"></script>
	</body>
</html>